:root {
  body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
  }

  svg {
    color: var(--text-primary-color)
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    padding: 0px;
    height: 0px;
    height: 100%;
  }

  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }

  a {
    text-decoration: none;
    color: var(--text-primary-color);
  }
}