:root {
  --primary-color: #646cff;
  --secondary-color: #535bf2;
  --tertiary-color: #61dafb;
  --accent-color: #646cffaa;
  --text-color: #213547;
  --text-primary-color: #ffffff;

  --sidebar-width__collapsed: 50px;
  --sidebar-width__expanded: 200px;

  --theme-dark-a-background-primary-color: #242424;
  --theme-dark-a-background-secondary-color: #383636;
  --theme-dark-a-background-tertiary-color: #242424;
}