#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  /* TODO: This is a temporary hack, preferably the app shouldn't have scrolling with the next two lines removed */
  // overflow-y: hidden;
  // overflow-x: hidden;

  #app-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;

    #app-utilities {
      position: absolute;

      #app-utilities__sidebar {
        &.--expanded {
          width: 200px;
        }
        &.--collapsed {
          width: 50px;
        }
      }
    }

    #app-contents {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding-left: 50px; /* Sidebar offset */

      &.with-sidebar {
        padding-left: 200px;
      }
    }
  }  
}

