#root {
  height: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;

  #app-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-grow: 1;

    #app-utilities {
      position: absolute;

      #app-utilities__sidebar {
        background-color: var(--secondary-color);

        &.--expanded {
          width: 200px;
        }
        &.--collapsed {
          width: 50px;
        }
      }
    }

    #app-contents {
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &.with-sidebar {
        padding-left: 200px;
      }
    }
  }  
}

